In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("HousingData.csv")
df.head()
# note MEDV is Median value of house price in 1000$

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [20]:
df.shape

(506, 14)

In [10]:
# we have to divide the dataset into dependent variables (output) and independent variables (input)
input_data = df.iloc[:,:-1]
output_data = df["MEDV"]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
# t_t_s will split the data into four parts train test for both output and input

x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size = 0.25)

In [14]:
x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
322,0.35114,0.0,7.38,0.0,0.4930,6.041,49.9,4.7211,5,287,19.6,396.90,7.70
49,0.21977,0.0,6.91,0.0,0.4480,5.602,62.0,6.0877,3,233,17.9,396.90,16.20
76,0.10153,0.0,12.83,0.0,0.4370,6.279,74.5,4.0522,5,398,18.7,373.66,11.97
332,0.03466,NaN,6.06,0.0,0.4379,6.031,23.3,6.6407,1,304,16.9,362.25,7.83
52,0.05360,21.0,5.64,0.0,0.4390,6.511,21.1,6.8147,4,243,16.8,396.90,5.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,0.31533,0.0,6.20,0.0,0.5040,8.266,78.3,2.8944,8,307,17.4,385.05,4.14
99,0.06860,0.0,2.89,0.0,0.4450,7.416,62.5,3.4952,2,276,18.0,396.90,6.19
220,0.35809,0.0,6.20,1.0,0.5070,6.951,88.5,2.8617,8,307,17.4,391.70,9.71
386,24.39380,0.0,18.10,0.0,0.7000,4.652,100.0,1.4672,24,666,20.2,396.90,28.28
274,0.05644,40.0,6.41,1.0,0.4470,6.758,32.9,4.0776,4,254,17.6,396.90,3.53

In [19]:
y_train.head()

357    21.7
417    10.4
472    23.2
120    22.0
380    10.4
Name: MEDV, dtype: float64

In [23]:
x_train.shape, y_train.shape

((379, 13), (379,))

In [24]:
x_test.shape, y_test.shape

((127, 13), (127,))