In [2]:
import pandas as pd
import numpy as np

# Create a DataFrame
df = pd.DataFrame({
    'A': [1.5, 2.5, np.nan],
    'B': ['text', 'value', 'word'],
    'C': [np.nan, 5.5, 6.5]
})

df

     A      B    C
0  1.5   text  NaN
1  2.5  value  5.5
2  NaN   word  6.5

In [ ]:

# Apply forward fill along columns (axis=1)
df_filled = df.ffill(axis=1)

df_filled
# No differnce at all Reson given Below:

     A      B     C
0  1.5   text  text
1  2.5  value   5.5
2  NaN   word   6.5

## NOTE:

### Key Points to Understand:

#### 1. Forward Filling Logic:

- ##### Pandas attempts to propagate values as-is, without converting data types, if possible.

- ##### If the missing value is of type float, but the previous value comes from a column with string type, pandas cannot cast a string value to a float type.

#### 2. Result:

- ##### The missing value remains unfilled (NaN).

- ##### Pandas does not perform implicit type conversion (e.g., converting a string to a float) when filling values.