# ðŸ¼ Pandas Groupby

---

## ðŸ§® 1ï¸âƒ£ Salary Normalization Using GroupBy and Transform

### ðŸ’¡ Code
```python
df['salary_norm'] = df['salary'] / df.groupby('city')['salary'].transform('mean')
```

---

### ðŸŽ¯ Purpose
This line of code **normalizes the salary of each person relative to the average salary in their city**.

In other words:
> It creates a new column called `salary_norm` that shows how a personâ€™s salary compares to their cityâ€™s average.

- `salary_norm = 1` â†’ salary is **equal to** the cityâ€™s average  
- `salary_norm > 1` â†’ salary is **above** the cityâ€™s average  
- `salary_norm < 1` â†’ salary is **below** the cityâ€™s average

---

### ðŸ” Step-by-Step Breakdown

#### ðŸ§© Step 1: Grouping the Data
```python
df.groupby('city')['salary']
```
This groups the DataFrame by `city` and focuses on the `salary` column.

If the DataFrame is:

| name | city | salary |
|------|------|--------|
| A | Delhi | 50000 |
| B | Delhi | 100000 |
| C | Mumbai | 70000 |
| D | Mumbai | 140000 |

Then `groupby('city')['salary']` creates:
- Delhi â†’ [50000, 100000]
- Mumbai â†’ [70000, 140000]

---

#### ðŸ§® Step 2: Calculating the Mean with `.transform('mean')`
```python
df.groupby('city')['salary'].transform('mean')
```
This calculates the **mean salary for each city**, and **returns a Series of the same length as the original DataFrame**.

| name | city | salary | mean_salary |
|------|------|--------|-------------|
| A | Delhi | 50000 | 75000 |
| B | Delhi | 100000 | 75000 |
| C | Mumbai | 70000 | 105000 |
| D | Mumbai | 140000 | 105000 |

**Note:** `.transform('mean')` keeps the same number of rows as the original DataFrame, repeating the group mean for each corresponding row.  
This is what makes it different from `.mean()` which would only return one mean per group.

---

#### âž— Step 3: Performing the Division
Now, divide each personâ€™s salary by their cityâ€™s mean:

| name | city | salary | mean_salary | salary_norm = salary / mean |
|------|------|--------|-------------|-----------------------------|
| A | Delhi | 50000 | 75000 | 0.67 |
| B | Delhi | 100000 | 75000 | 1.33 |
| C | Mumbai | 70000 | 105000 | 0.67 |
| D | Mumbai | 140000 | 105000 | 1.33 |

---

#### ðŸ†• Step 4: Assigning to a New Column
```python
df['salary_norm'] = ...
```
This stores the result as a new column `salary_norm`.

Final DataFrame ðŸ‘‡

| name | city | salary | salary_norm |
|------|------|--------|-------------|
| A | Delhi | 50000 | 0.67 |
| B | Delhi | 100000 | 1.33 |
| C | Mumbai | 70000 | 0.67 |
| D | Mumbai | 140000 | 1.33 |

---

### ðŸ§  Intuitive Understanding
This tells us **how much above or below the average** a salary is within its city.

For example:
- B earns **33% above** the Delhi average.
- A earns **33% below** the Delhi average.
- C earns **33% below** the Mumbai average.
- D earns **33% above** the Mumbai average.

---

### âš™ï¸ Why Use `.transform()` Instead of `.mean()`?
If we used `.mean()`, weâ€™d get only one mean value per city, not a value per row.

âœ… `.mean()` â†’ Returns one value per group.  
âœ… `.transform('mean')` â†’ Returns one value per row (matching original index).

Thatâ€™s why `.transform()` is essential for **row-wise normalization within groups**.

---

### âœ… Summary Table

| Component | Meaning |
|------------|----------|
| `groupby('city')` | Split the data by city |
| `['salary']` | Select the salary column |
| `.transform('mean')` | Compute mean salary per city and repeat per row |
| `df['salary'] / ...` | Divide each salary by its cityâ€™s mean |
| `df['salary_norm'] = ...` | Store as new column |

---

## ðŸ’¡ 2ï¸âƒ£ Filtering Rows Using Lambda in `.loc[]`

### ðŸ§¾ Code
```python
df.loc[lambda d: d['age'] > 25, :]
```

---

### ðŸŽ¯ Purpose
Select all rows from the DataFrame where the `age` column is greater than 25.

Equivalent to:
```python
df[df['age'] > 25]
```
But the lambda version is **cleaner and more flexible** when used in method chaining.

---

### ðŸ§© Step-by-Step Breakdown

#### ðŸª„ Step 1: `.loc[]`
`.loc[]` is a **label-based indexer** in Pandas.

Basic format:
```python
df.loc[row_condition, column_selection]
```

- Before the comma â†’ select rows (boolean condition).  
- After the comma â†’ select columns.

Example:
```python
df.loc[df['age'] > 25, ['name', 'city']]
```
â†’ Select rows where `age > 25`, and display only `name` and `city`.

---

#### ðŸ§  Step 2: The Lambda Function
`lambda d: d['age'] > 25` defines an **anonymous inline function** that takes the entire DataFrame (`d`) and returns a **boolean Series**.

Itâ€™s equivalent to:
```python
def filter_condition(d):
    return d['age'] > 25
```

So for a DataFrame like:

| name | age | city |
|------|-----|------|
| A | 22 | Delhi |
| B | 30 | Mumbai |
| C | 28 | Chennai |
| D | 24 | Pune |

`d['age'] > 25` gives:

| name | age | city | Condition |
|------|-----|------|------------|
| A | 22 | Delhi | False |
| B | 30 | Mumbai | True |
| C | 28 | Chennai | True |
| D | 24 | Pune | False |

---

#### âš™ï¸ Step 3: How `.loc` Uses It
`.loc` uses this boolean mask to **filter rows** where the condition is True.

```python
df.loc[lambda d: d['age'] > 25, :]
```

The `:` means **select all columns**.

Output:

| name | age | city |
|------|-----|------|
| B | 30 | Mumbai |
| C | 28 | Chennai |

---

### ðŸ§© Step 4: Why Use Lambda Here?
You could write the same logic as:
```python
df.loc[df['age'] > 25, :]
```
But using lambda allows **cleaner chaining**, such as:

```python
df.loc[lambda d: d['age'] > 25]   .assign(status='Adult')   .sort_values('age', ascending=False)
```

This makes your Pandas pipeline more **functional and elegant** â€” ideal for clean data analysis scripts.

---

### âœ… Summary Table

| Part | Meaning |
|------|----------|
| `df.loc[...]` | Select rows and columns using labels |
| `lambda d:` | Define an inline function using the DataFrame |
| `d['age'] > 25` | Returns a boolean mask |
| `, :` | Select all columns |
| **Result** | Keeps only rows where `age > 25` |

---

### âœ¨ Example Code
```python
import pandas as pd

df = pd.DataFrame({
    'name': ['A', 'B', 'C', 'D'],
    'age': [22, 30, 28, 24],
    'city': ['Delhi', 'Mumbai', 'Chennai', 'Pune']
})

result = df.loc[lambda d: d['age'] > 25, :]
print(result)
```

**Output:**
```
  name  age    city
1    B   30  Mumbai
2    C   28  Chennai
```

---

### âš¡ Alternate Version
```python
df.loc[df['age'] > 25, :]
```
Both are identical in result.  
Lambda version is just more expressive when chaining multiple operations.

---

## ðŸ§¾ Final Summary

| Concept | Description |
|----------|--------------|
| **Group-based normalization** | Use `.groupby().transform('mean')` to normalize data within groups |
| **Lambda inside `.loc[]`** | Inline row filtering function for clean method chaining |
| **When to use `.transform()`** | When you need group-level operations but want to keep the same number of rows |
| **When to use `.loc`** | When selecting subsets of rows and/or columns by label or condition |

---

âœ¨ **In short:**  
Both lines of code demonstrate powerful Pandas techniques â€” one for **group-wise transformation** and one for **functional-style filtering** â€” essential for writing clean, professional-level data analysis pipelines.

---