# ðŸ“– Ordinal Encoding through Map function 

- It is manual encoding of ordinal categories of a feature via map function
- where map function maps the user entered encoded values for the ordinal categories of a feature

In [3]:
import pandas as pd
#here no need of sklearn

In [5]:
df = pd.DataFrame({"Size": ["s", "m", "l", "xl", "s", "m", "l", "s", "s", "l", "xl", "m"]})
df.head()

  Size
0    s
1    m
2    l
3   xl
4    s

In [ ]:
ord_data = {"s": 5, "m":6, "l":7, "x1":8} #custom encoded values

In [9]:
df["Size_en_map"] = df["Size"].map(ord_data)

In [10]:
df

   Size  Size_en_map
0     s          5.0
1     m          6.0
2     l          7.0
3    xl          NaN
4     s          5.0
5     m          6.0
6     l          7.0
7     s          5.0
8     s          5.0
9     l          7.0
10   xl          NaN
11    m          6.0